
<nav class="navbar navbar-expand-lg jumbotron">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item btn btn-outline-dark  mx-2">
                <a class="nav-link" routerLink="employee">Task1 </a>
            </li>
            <li class="nav-item btn btn-outline-dark mx-2">
                <a class="nav-link" routerLink="task2">Task2 </a>
            </li>
            <li class="nav-item btn btn-outline-dark mx-2">
                <a class="nav-link" routerLink="task3">Task3 </a>
            </li>
        </ul>
    </div>
</nav>