<div class="mb-3 ml-3">
    <button type="button" class="btn btn-outline-info" routerLink="/emplyoees/add">Add New</button>
</div>
<table class="table table-hover p-2">  
    <thead>
        <tr>
            <th *ngFor="let head of headElements">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id}}</td>
            <td>{{ employee.name }}</td>
            <td *ngIf="checkPhoneNo(employee.phone)">{{ employee.phone}}</td>
            <td *ngIf="!checkPhoneNo(employee.phone)">NA</td>
            <td>{{ employee.city}}</td>
            <td>{{ employee.address_line1}}</td>
            <td>{{ employee.address_line2}}</td>
            <td>{{ employee.postal_code}}</td>
            <td><a [routerLink]="['/edit', employee.id]" class="btn btn-primary">Edit</a></td> 
        </tr>
    </tbody>
  </table>  
  