<div class="text-center">
<p>List of employees</p>
    <table class="table-bordered m-auto">
        <thead>
            <tr>
                <th *ngFor="let head of headElements">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{ employee.id}}</td>
                <td>{{ employee.name }}</td>
                <td *ngIf="checkPhoneNo(employee.phone)">{{ employee.phone}}</td>
                <td *ngIf="!checkPhoneNo(employee.phone)">NA</td>
                <td>{{ employee.city}}</td>
                <td>{{ employee.address_line1}}</td>
                <td>{{ employee.address_line2}}</td>
                <td>{{ employee.postal_code}}</td>
            </tr>
        </tbody>
    </table>
</div>
