<div class="text-center">
    <h3>Based on name and city implemented search functionality:</h3>
    <div class="form-group">
        <label for="usr">Search:</label>
        <input type="text" class="form-control w-25 m-auto" (blur)="filter($event.target.value)">
        <button class="btn btn-outline-warning my-2" (click)="refresh()">Refresh</button>
    </div>

    <div>
        <table class="table-bordered m-auto">
            <thead>
                <tr>
                    <th *ngFor="let head of headElements">{{head}} </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.id}}</td>
                    <td>{{ employee.name }}</td>
                    <td *ngIf="checkPhoneNo(employee.phone)">{{ employee.phone}}</td>
                    <td *ngIf="!checkPhoneNo(employee.phone)">NA</td>
                    <td>{{ employee.city}}</td>
                    <td>{{ employee.address_line1}}</td>
                    <td>{{ employee.address_line2}}</td>
                    <td>{{ employee.postal_code}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <label class="text-danger">{{noRecordFounds}}</label>
        </div>
    </div>
</div>